{% extends "layout.html" %}
{% block body %}
  <h2>Welcome <strong> {{username}}</strong></h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Name:
        <dd><input type="text" size=30 name="name">
        <dt>Email:
        <dd><input type="text" size=30 name="email">
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.username }}</h2>{{ entry.password|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  
{% endblock %}